{% extends 'header.html' %}
{% block content %}
    {% block title %}
    <title>TranquilAura</title>
    {% endblock %}
        <!-- Hero Start -->
        <div class="container-fluid bg-light my-6 mt-0">
            <div class="container">
                <div class="row g-5 align-items-center">
                    <div class="col-lg-7 col-md-12">
                        <h1 class="display-1 mb-4 animated bounceInDown">Discover Inner <span class="span-text">Peace</span>  & Transform Your <span class="span-text">Tomorrow</span></h1>
                        <a href="registration" class="btn btn-primary border-0 rounded-pill py-3 px-4 px-md-5 me-4 animated bounceInLeft">Get Started</a>
                        <a href="about" class="btn btn-primary border-0 rounded-pill py-3 px-4 px-md-5 animated bounceInLeft">Know More</a>
                    </div>
                    <div class="col-lg-5 col-md-12">
                        <img src="../static/img\Frog.png" class="img-fluid rounded animated zoomIn" alt="" width="1000" height="500" align="center">
                    </div>
                </div>
            </div>
        </div>
        <!-- Hero End -->

                

        
{% endblock %}