{% extends 'header.html' %}
{% block content %}
{% block title %}
<title>TranquilAura</title>
{% endblock %}
<!-- Hero Start -->
<div class="container-fluid bg-light py-6 my-6 mt-0">
    <div class="container text-center animated bounceInDown">
        <h1 class="display-1 mb-4">Meet The Top-Rated Therapists</h1>
        <ol class="breadcrumb justify-content-center mb-0 animated bounceInDown">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item"><a href="#">Pages</a></li>
            <li class="breadcrumb-item text-dark" aria-current="page">Services</li>
        </ol>
    </div>
</div>
<!-- Hero End -->

<ul class="team justify-content-center align-items-center animated bounceInLeft">
    <li class="member co-funder">
        <div class="thumb"><img src="https://assets.codepen.io/3/internal/avatars/users/default.png?fit=crop&format=auto&height=120&width=120"></div>
        <div class="description">
            <h3>Chris Coyier</h3>
            <p>Founder of Clarity, Lisa Fei is on a mission to help people successfully navigate every stage and aspect of their relationships.<br><a href="https://codepen.io/chriscoyier/">@chriscoyier</a></p>
        </div>
    </li>
    <li class="member co-funder">
        <div class="thumb"><img src="https://assets.codepen.io/2/internal/avatars/users/default.png?height=120&width=120"></div>
        <div class="description">
            <h3>Alex Vazquez</h3>
            <p>“The Millennial Therapist” who is grounded in existential analysis, as well as somatic and experiential techniques.<br><a href="https://codepen.io/quezo/">@quezo</a></p>
        </div>
    </li>
    <li class="member">
        <div class="thumb"><img src="https://assets.codepen.io/652/internal/avatars/users/default.png?height=120&width=120"></div>
        <div class="description">
            <h3>Marie Mosley</h3>
            <p>Francesca Hogi speaks, writes, and coaches people about true love, self love, dating, and Human Design.<br><a href="https://codepen.io/mariemosley/">@mariemosley</a></p>
        </div>
    </li>
    <li class="member">
        <div class="thumb"><img src="https://assets.codepen.io/39255/internal/avatars/users/default.png?height=120&width=120"></div>
        <div class="description">
            <h3>Stephen Shaw</h3>
            <p>Lisa Romano is a Life Coach, bestselling author, and relationship expert on Clarity app.<br><a href="https://codepen.io/shshaw/">@shshaw</a></p>
        </div>
    </li>
    <li class="member">
        <div class="thumb"><img src="https://cpwebassets.codepen.io/assets/packs/about-rachelsmith-6878ca76a1d9200e6c296e810050b8cb.jpg?height=120&width=120"></div>
        <div class="description">
            <h3>Rachel Smith</h3>
            <p>Dr. Thema Bryant-Davis is a psychologist, minister, author, and host of the Homecoming podcast.<br><a href="https://codepen.io/rachsmith/">@rachsmith</a></p>
        </div>
    </li>
    <li class="member">
        <div class="thumb"><img src="https://cpwebassets.codepen.io/assets/packs/about-robertkieffer-77c28f3a6efe082fd1903affae540b8a.jpg?height=120"></div>
        <div class="description">
            <h3>Robert Kieffer</h3>
            <p>Dr. Ream is a PMH-C PsyD with advanced training in perinatal mental health.<br><a href="https://codepen.io/broofa/">@broofa</a></p>
        </div>
    </li>
    <li class="member">
        <div class="thumb"><img src="https://cpwebassets.codepen.io/assets/packs/about-deevazquez-c8e8b7f9e803f462b7be19ea60b9272f.jpg?height=120&width=120"></div>
        <div class="description">
            <h3>Dee Vazquez</h3>
            <p>Dr. Jazmine, also known as “The Mom Psychologist” is a specialist in child development and mental health.<br><a href="https://codepen.io/deequez/">@deequez</a></p>
        </div>
    </li>
</ul>

</div>


{% endblock %}